{{define "content"}}
<div class="home container">
  <div class="box has-background-white-ter">
  <div class="columns py-6">
    <div class="column is-one-third is-justify-content-flex-start border-right">      
        <figure class="image is-128x128">
              <img class="is-rounded"  src="/static/images/img.png" alt="Mats's Image" class="about-image">
          </figure>
          <div class="contact px-5">
            <p class="icon-text is-block">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              <span> 
                <a href="mailto:epost@adresse.no">mail@adresse.no</a>
              </span>
            </p>
            <p class="icon-text is-block">
              <span class="icon">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span> 
                <a href="tlf:74839300">74839300</a>
              </span>
            </p>
           
          </div>
       </div>
    <div class="column px-6">
        <h1 class="title">Hi Im Mats</h1>
        <p class="subtitle my-4">
          The first 90% of the code accounts for the first 90% of the development time. The remaining 10% of the code accounts for the other 90% of the development time. (Tom Cargill)
          </p>
          <p>
            On your plate work flows . We want to see more charts workflow ecosystem, and bells and whistles, and can you run this by clearance? hot johnny coming through , yet hit the ground running, or that jerk from finance really threw me under the bus. It's about managing expectations drink the Kool-aid, so back-end of third quarter golden goose, for work flows roll back strategy. Data-point regroup, and shotgun approach show grit, and high performance keywords. Organic growth prioritize these line items. Turd polishing timeframe dear hiring manager: hammer out, so the closest elephant is the most dangerous we can't hear you .
          </p>
        

    </div>
  </div>
  </div>


</div>
{{end}}