{{define "content"}}
<div class="projects box p-6 has-background-white-ter">
    <h2 class="title is-2">Projects</h2>
    <p class="subtitle my-4">
        First learn computer science and all the theory. Next develop a programming style. Then forget all that and just hack. (George Carrette)
    </p>
    <div id="Project-content" class="mt-6">
            <div id="repo-list" class="columns is-multiline">
            </div>
          
</div>
</div>
<script src="/static/js/github.js"></script>
{{end}}
